/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }

html {
    scroll-behavior: smooth;
  }

  /* main{
    max-width: 1140px;
    margin: 0 auto;
} */
p {
    line-height: 130%;
  }
  
ul {
    list-style: none;
  }
  
a {
    text-decoration: none;
  }

.main {
    overflow: hidden;
  }


  /*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1420px;
    margin: 0 auto;
  }

  /*=============== HEADER & NAV ===============*/

  .header{
    /* position: fixed; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color:white;
    z-index:100;
  }

  .nav{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .nav_list{
    display: flex;
    align-items: center;
  }

  .nav_list li{
    height: 100px;
    padding: 40px 15px;
  }

  .nav_list a{
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }


  .nav_btn{
    border-radius: 5px;
    background: #078D84;
    border:0;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 24px;
    color: white;
  }

  .nav_btn:hover{
    background-color: #057f77;
    color: white;
    transition: all 0.5s;
  }



.hero-section{
  background-color: #F6F8FF;
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  background-position: 81% 70%;
}

.hire-btn{border-radius: 5px;
  background: #078D84;
  border:0;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 24px;
  color: white;
  margin-right: 10px;
}

#portfolio-btn{
  border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
    color: #078D84;
    border: 1px solid #078D84;
    cursor: pointer;
}

.hero{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-top: 130px;
}

.hero-content{
  max-width: 50%;

}
.hero-img{
margin-right: 100px;
}
.hero-content h1{
  font-size: 56px;
  font-weight: 500;
  line-height: 60px;
}

.hero-content p,h1{
  margin-bottom: 25px;
}
  